.mobile-nav{
  display: none;
}

.title-sizing{
  margin-top: 60px!important;
}

.history{
  margin: 60px;
}
.margin-bottom{
  margin-bottom: 60px;
}

.sports_wushu{
 padding-top: 60px;

}

.page-navigation{
  
}
.abt_right {
    padding: 20px 20px;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
  margin-bottom: 40px;
}

.secend-mobile-nav{
  display: none;
}


/*second-nav*/

.second-nav{
  position: relative;
  margin: 20px 0px 110px 0px;

}
.second-nav nav{
  position: absolute;
  top: 15;
  left: 10;
  width: 100%;
  
  height: 100%;
  
}
.second-nav nav ul{
display: flex;
justify-content: center;
align-items: center;
margin:  0 auto;

}
.second-nav nav ul li {
  
  text-align: center;
  font-size: 17px;



}
.second-nav nav ul li a{
    border-right: 2px solid #000;
    padding-right:  5px;
  font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 7px 12px;
    color: #fff;
    background-color: #d9111b;
    line-height: 1.6em;
    font-weight: 500;
    /*text-transform: uppercase;*/
}
.second-nav nav ul li:last-child a{
  border:none;
}
.current2 {
  color: #fff!important;
  background-color: #000!important;

}
 .current3{
  background-color: #000!important;
 }
/*second-nav-end*/

.wushu-content{
  
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px;
padding: 0px;

  border: 3px solid #FF7101: 
  margin-bottom: 30px;
}
.wushu-content img{
  width: 100%;
}
.wushu-content p{
  padding: 15px 15px;
}
.col-md-6{
  margin-bottom: 35px;
}
 .midle-content {
    margin-bottom: 89px;
}
.sports_wushu p{
  display: inline-block;
  word-wrap: wrap;
  margin: -30px 0px 40px 0px;

}
.sports_wushu_details p , .sports_wushu_details img{
  color: #fff;
  padding-top: 50px!important;
}
.sports_wushu_image {
 padding-top: 15px;
}

.title_box_course{
  margin-bottom: 20px!important;
}
.title-right{
  margin-top: 45px;
  margin-bottom: 0px;
}

.title-right span, .title span{
  margin: 0;
  padding: 0;
}


.bg-black{
  width: 100%;
  padding-top: 70px;
  background: rgba(1,1,1,0.80);
  padding-bottom: 100px!important;
  margin-bottom: 30px;
}
.midle-content{
  margin-bottom: 30px;
}
.bg-yellow{
  background: #FF7101;
}

.bg-black .title span{
  color: #fff;
}

.wushu-today,.margin-bottom{
  padding-bottom: 70px!important;
}
 .taolu-sec{
padding-bottom: 24px!important;
}

}
.wushu-today p{
margin-top: -25px;
}
.center-text{
  padding-top: 50px;

}
.center-text-2nd{
   padding-top: 153px;
}
.padding-section{
  padding: 30px 0;
}
.sanda-meaning{
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 60px;

}
.content-pera{
   font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 2;

}
.content-pera-sizing{
  padding-top: 56px;
}


/*.padding-right{
  padding-right: 35px!important;
}
.padding-left{
  padding-left: 35px!important;
}
.border-right-dashed{
   
  border-right-style: dotted!important;
   border-right: 1px solid #FF7101!important;
  
  
  
}*/




/*pulse css*/
/*.pulse-container{
  position: relative;
}

.pulse{
  position: absolute;
}
.pulse1{
 
 top: 45.2%;
 left: 48.5%;
}
.pulse2{
 
 top: 44.8%;
 left: 48.5%;
}
.pulse3{
  top: 55.8%;
   left: 48.5%;
 }

.pulse4{
  top: 66.5%;
   left: 48.5%;
 }

.pulse {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}


.pulse.orange {
  background: rgba(255, 121, 63, 1);
  box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
  animation: pulse-orange 2s infinite;
}*/

@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}



 @media screen and (max-width:   443px) {




 
}



@media screen and (min-width: 30px){
  .desk-tab-nav{
  display: none;
}
  .mobile-nav{
  display: flex;
}

}

@media (min-width: 320px) and (max-width: 480px){

.blogpage3 h2.title span {
    font-size: 29px!important;
}
.blogpage3 .title #text{
  font-size: 29px!important;
}
.sports_wushu_details p , .sports_wushu_details img{
  color: #fff;
  padding-top: 15px!important;
}

.course_sec_title h2{
      font-size: 25px!important;
} 
.course_sec_img img{
  margin-top: -15px;
}
   .second-nav{
  position: relative;
  margin: 20px 0px 0px 0px;

}
.second-nav nav{
  position: absolute;
  top: 15;
  left: 10;
  width: 100%;
  
  height: 100%;
  
}
.second-nav nav ul{
display: flex;
justify-content: center;
align-items: center;
margin:  0 auto;

}
.second-nav nav ul li {
  
  text-align: center;
  font-size: 13px!important;



}
.second-nav nav ul li a{
    border-right: 2px solid #000;
    padding-right:  5px;
  font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 7px 5px;
    color: #fff;
    background-color: #d9111b;
   /* line-height: 1.6em;*/
    font-weight: 500;
    /*text-transform: uppercase;*/
}



  .secend-mobile-nav{
  display: flex;
  justify-content: center;
  align-items: center;
}



.title-box-mg{
 margin-bottom: 0;
 padding: 0;
}

.bg-black{
  padding-top: 40px;
  padding-bottom: 30px!important;
  margin-bottom: 0px!important;
}
.container{
  padding: 0;
}
.sanda-meaning{
  font-size: 17px;
  text-align: center;


}

.wushu-content{
  
box-shadow: none;

  border: none;: 
  margin-bottom: 30px;
}

.wushu-today, .taolu-sec, .margin-bottom {
    padding-bottom: 0px!important;
}
}
 

 @media screen and (min-width:  450px) {  

   .desk-tab-nav{
  display: flex;
}
 .mobile-nav{
  display: none;
}
 }
  

  @media screen and (max-width:  767px) {
  
  .wushu-pera{
  padding-top: 26px!important;
  }
  
.padding-top{
  padding-top: 45px;
  }

  .sports_wushu_details{
    padding: 0;
  }
  .bg-black{
    padding-bottom: 10!important;
  }

  .wushu-today{
    padding-bottom: 30px!important;
  }

  p.content-pera{
    padding-top: 30px!important;
  }
}
 




  @media screen and (max-width:  991px) {

  .wushu-pera{
  padding-top: 26px!important;
  }

.padding-section{
  padding: 10px 0!important;
}
.center-text,.center-text-2nd{
  padding-top: 0px!important;
}
.sanda-bottom{
   margin-bottom: 0px!important;
  }



  .wushu-today .row .col-md-6{
    display: flex!important;
    flex-direction: column;
  }

/* Safari 6.1+ */
 .history-img  {-webkit-order: 1;}
.history-text{-webkit-order: 2;}


/* Standard syntax */

 .history-img{order: 1;}
.history-text{order: 2;}




}



@media screen and (max-width: 984px) {
  .padding-left{
    padding: 0px!important;
    padding-right: 0px!important;
  }
   .midle-content {
    margin-bottom: 30px;
}
}

@media screen and (max-width: 1020px) {

  .padding-right{
  padding-right: 5px!important;
 
  }
  .pulse-container{
    display: none!important;
  }
  .border-right-dashed{
    border-right:none!important;
  }
 .padding-left{
      padding-left: 5px!important;
      
 }



}



@media screen and (max-width: 1199px) {  
  .content-pera-sizing{
    padding-top: 0px!important;
  }
  /*.padding-right{
  padding-right: 5px!important;
 
  }
  .pulse-container{
    display: none!important;
  }
  .border-right-dashed{
    border-right:none!important;
  }
 .padding-left{
      padding-left: 5px!important;

}*/
}


/*
@media screen and (max-width: 1280px) {

   .pulse1{
 
 top: 31.4%;
 left: 48.5%;
}
.pulse2{
 
 top: 43.4%;
 left: 48.5%;
}
.pulse3{
  top: 54.8%;
   left: 48.5%;
 }

.pulse4{
  top: 66.9%;
   left: 48.5%;
 }
}
*/


